<form action="/requisicao" method="get">
  User:<br>
  <input type="text" name="user" value="syscoin">
  <br>
  Password:<br>
  <input type="text" name="password" value="meEscolhe">
  <br><br>
  <input type="submit" value="Submit">
</form> 
